.container{
  background-color:rgb(48, 46, 46); 
  width: 1290px;
}
.chat {
  -webkit-box-shadow: 0px 2px 35px 11px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 35px 11px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 35px 11px rgba(34, 60, 80, 0.2);
  background-color: honeydew;
  height: 500px;
  width: 1270px;
  border-radius: 15px;
  margin: 10px auto;
}